= simple_form_for @work_entry, :url => (@work_entry.new_record? ? work_entries_path(@day.year, @day.month, @day.day) : work_entry_path(@day.year, @day.month, @day.day, @work_entry.id)), :method => @work_entry.new_record? ? :post : :put do |f|
  = f.input :work_chart_id, :as => :work_chart_selector, :quicks => @quicks
  = f.input :date_performed, :as => :string, :input_html => { :value => "#{@day.year}/#{@day.month}/#{@day.day}", :class => "calendar" }
  = f.simple_fields_for :work_entry_fees do |fee|
    = fee.input :fee, :as => :currency
    = fee.input :created_by, :as => :hidden, :input_html => { :value => current_user.email }
    = fee.input :modified_by, :as => :hidden, :input_html => { :value => current_user.email }
  %fieldset.durations
    %legend Durations
    = f.simple_fields_for :work_entry_durations do |d|
      %div.single-duration
        = link_to "remove", "#", :class => "button alert remove"
        = d.input :duration, :as => :interval, :label => ""
        = d.input :kind_code, :as => :select, :collection => WorkChartKind.where(work_chart_id: @work_entry.work_chart_id).map(&:duration_kind) ,:input_html => { :class => "kind_code_select", :"data-placeholder" => "Select kind" }
        = d.input :created_by, :as => :hidden, :input_html => { :value => current_user.email }
        = d.input :modified_by, :as => :hidden, :input_html => { :value => current_user.email }
    %div.actions
      = link_to "add", "#", :class => "button add"
  = f.input :description, :input_html => { :rows => 1 }
  %div.panel.input
    = button_tag(type: 'submit', class: "button", :onclick => "$('form').submit();") do
      = "Save"
