  <legend>Durations</legend>
       <div class="actions">
         <a href="#" class="button add">+</a>
       </div>
       <div class="single-duration">
         <a href="#" class="button alert remove">-</a>
       </div>
       <% $.each(work_entry.work_entry_durations, function(i, duration) { %>
       <div class="input interval optional">
           <label class="interval optional control-label" 
                  for="work_entry_work_entry_durations_attributes_0_duration">Duration</label>      
         <div class="row collapse complex-input single-select">
           <div class="five mobile-three columns">
             <select class="hour-select" name="durations[0][hours]">
               <% $.each(new Array(25), function(i, v) { %>
                 <option value="<%= i %>"><%= i %></option>
               <% }); %>
             </select>
           </div>
           <div class="one mobile-one columns">
             <span class="postfix">h</span>
           </div>
           <div class="five mobile-three columns single-select">
             <select class="minutes-select" name="durations[0][minutes]">
               <% $.each(new Array(4), function(i, v) { %>
                 <option value="<%= i*15 %>"><%= i*15 %></option>
               <% }); %>
             </select>
           </div>
           <div class="one mobile-one columns">
             <span class="postfix">m</span>
           </div>
         </div>
         <div class="row collapse hours-minutes">
           <a href="#" data-hour="0" class="button hour-button selected">0</a>
           <a href="#" data-hour="1" class="button hour-button">1</a>
           <a href="#" data-hour="2" class="button hour-button">2</a>
           <a href="#" data-hour="3" class="button hour-button">3</a>
           <a href="#" data-hour="4" class="button hour-button">4</a>
           <a href="#" data-hour="5" class="button hour-button">5</a>
           <a href="#" data-hour="6" class="button hour-button">6</a>
           <a href="#" data-hour="7" class="button hour-button">7</a>
           <a href="#" data-hour="8" class="button hour-button">8</a>
           <span>&nbsp;</span>         
           <a href="#" data-minute="0" class="button minute-button selected">0</a>
           <a href="#" data-minute="15" class="button minute-button">15</a>
           <a href="#" data-minute="30" class="button minute-button">30</a>
           <a href="#" data-minute="45" class="button minute-button">45</a>
         </div>
       </div>
       <div class="input select optional">
         <select class="select optional kind_code_select" data-placeholder="Select kind" 
            id="work_entry_work_entry_durations_attributes_0_kind_code" 
            name="work_entry[work_entry_durations_attributes][0][kind_code]">
            <% $.each(duration_kinds, function(i, kind) { %>
              <option value="<%= kind.code %>"><%= kind.display_label %></option>
            <% }); %>
         </select>
       </div>
     <% }); %>
