  <legend>Durations</legend>
       <div class="actions">
         <a href="#" class="button add <% if(duration_kinds.length <= work_entry.work_entry_durations.length) { %> disabled  <% } %> ">+</a>
       </div>
       <% $.each(work_entry.work_entry_durations, function(i, duration) { %>
       <div class="single-duration">
         <a href="#" class="button alert remove <% if(i == 0 ) { %> disabled  <% } %> ">-</a>
       <% hours = parseInt(duration.duration.split(":")[0]); %>
       <% minutes = parseInt(duration.duration.split(":")[1]); %>
       <div class="input interval optional">
           <label class="interval optional control-label" 
                  for="work_entry_work_entry_durations_attributes_0_duration">Duration</label>      
         <div class="row collapse complex-input single-select">
           <div class="five mobile-three columns">
             <select data-index="<%= i %>" class="hour-select" name="durations[0][hours]">
               <% $.each(new Array(25), function(j, v) { %>
                 <option <% if(j == hours){ %> <%= "selected='selected'" %> <% }; %> value="<%= j %>"><%= j %></option>
               <% }); %>
             </select>
           </div>
           <div class="one mobile-one columns">
             <span class="postfix">h</span>
           </div>
           <div class="five mobile-three columns single-select">
             <select data-index="<%= i %>" class="minutes-select" name="durations[0][minutes]">
               <% $.each(new Array(4), function(j, v) { %>
                 <option <% if(15*j == minutes){ %> <%= "selected='selected'" %> <% }; %> value="<%= j*15 %>"><%= j*15 %></option>
               <% }); %>
             </select>
           </div>
           <div class="one mobile-one columns">
             <span class="postfix">m</span>
           </div>
         </div>
         <div class="row collapse hours-minutes">
           <% $.each(new Array(9), function(j, v) { %>
             <a href="#" data-index="<%= i %>" data-hour="<%= j %>" 
                class="button hour-button <% if(j == hours){ %> <%= "selected" %> <% }; %>">
                <%= j %>
            </a>
           <% }); %>
           <span>&nbsp;</span>         
           <% $.each(new Array(4), function(j, v) { %>
             <a href="#" data-index="<%= i %>" data-minute="<%= j*15 %>" 
                class="button minute-button <% if(j*15 == minutes){ %> <%= "selected" %> <% }; %>">
                <%= j*15 %>
            </a>
           <% }); %>
         </div>
       </div>
       <div class="input select optional">
         <select class="select optional kind_code_select" data-index="<%= i %>" data-placeholder="Select kind" 
            id="work_entry_work_entry_durations_attributes_0_kind_code" 
            name="work_entry[work_entry_durations_attributes][0][kind_code]">
            <% kinds = _.reject(duration_kinds, function(d){ return _.contains(_.pluck(work_entry.work_entry_durations, 'kind_code'), d.code); }); %>
            <% thisEl = _.find(duration_kinds, function(d){ return d.code == duration.kind_code; }); %>
            <% if(thisEl !== undefined){ kinds.push(thisEl); } %>
            <% $.each(kinds, function(i, kind) { %>
              <option <% if(kind.code == duration.kind_code) { %> selected='selected' <% } %> value="<%= kind.code %>"><%= kind.display_label %></option>
            <% }); %>
         </select>
       </div>
       </div>
     <% }); %>
