%h1= "Your entries for #{@day.to_date == Date.today ? 'today' : @day.to_date.to_formatted_s(:long_ordinal)}"

- total_duration = @entries.map(&:total_duration).inject(Time.parse("00:00:00")) { |d,s| s += d.hour.hours; s += d.min.minutes; s  }
%h3= "Total of #{total_duration.hour}h #{total_duration.min}min"
.actions
  = link_to "Add entry", new_work_entry_path, :class => "radius button"
%table
  %thead
    %th Work chart
    %th Time
    %th Description
    %th
  %tbody
    - @entries.each do |entry|
      %tr
        %td= entry.work_chart_label
        %td
          - total = entry.total_duration
          = "#{total.hour}h #{total.min}min"
        %td= BlueCloth.new(entry.description).to_html.html_safe
        %td= link_to "Edit", root_path
