%h1 Your work days

%table
  %thead
    %th Day
    %th Time
    %th
  %tbody
    - @days.each do |day|
      %tr
        %td
          - if day.date.to_date == Date.today
            Today
          - else
            = "#{day.date.to_date.to_s} (#{t('date.day_names')[day.date.wday]})"
        %td= "#{day.time.hour}h #{day.time.min} min"
        %td
          %a{href: "/"} Edit
