%nav.top-bar
  %ul
    %li.name
      %a{:href => root_path}
        %b> Timesheet
        %span<
          App
    %li.toggle-topbar= link_to "", "#"
  %section
    %ul.left
    %ul.right
      %li.active= link_to "Time entry", root_path
      - if current_user and current_user.has_role? :admin
        %li.divider
        %li= link_to 'Admin', rails_admin_path, :onclick => "window.location.href = '/admin'"
      - if user_signed_in?
        %li.divider
        %li= link_to 'Logout', destroy_user_session_path, :method=>'delete'
      - else
        %li.divider
        %li= link_to 'Login', new_user_session_path
      - if user_signed_in?
        / something here..
  %div#spinner
