!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Timesheetapp"
      %meta{:content => content_for?(:description) ? yield(:description) : "Timesheetapp", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body
    #container.container
      %header
        .row
          .eight.columns
            = render 'layouts/navigation'
          .four.columns
            /something here
        .row
          = render 'layouts/messages'
        #main{:role => "main"}
          .row
            .eight.columns
              = yield
            .four.columns
              = yield :side
      %footer
        .row
    / ! end of #container
