!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Timesheetapp"
      %meta{:content => content_for?(:description) ? yield(:description) : "Timesheetapp", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = yield(:head)
  - is_week = @work_days.nil?
  - @day = DateTime.now unless @day
  %body{:"data-is-week" => "#{'1' if is_week}", :"data-today" => @day}
    #container.container
      %div.fixed= render 'layouts/navigation'
      %header.row= yield :header
      %section{:role => "main"}
        .row
          .two.columns
          .eight.columns
            = yield
          .two.columns
      %section
        .row
          #main.eight.columns
          #side.four.columns
      %footer
        .row
      #modal.reveal-modal
    / ! end of #container
